@model List<SwAppViewModel.Panel.ContactInformationVM>
<a href="/ContactInformation/ContactInformationCreate" style="color:white;">
    <button type="button" class="btn btn-primary">Ekle</button>
</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Yer Adı</th>
        <th scope="col">Adres</th>
        <th scope="col">Yol Tarifi</th>
        <th scope="col">Oluşturma Tarihi</th>
        <th scope="col">Güncelleme Tarihi</th>
        <th scope="col">Durum</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.ContactInformationTitle</td>
            <td>@item.ContactInformationAddress</td>
            <td>@item.ContactInformationDirection</td>
            <td>@item.CreatedDate</td>
            <td>@item.UpdatedDate</td>
            <td>@item.Status</td>
            <td>
                <a href="/ContactInformation/ContactInformationDelete/@item.Id" style="color:white;">
                    <button type="button" class="btn btn-danger">Durumunu Değiştir</button>
                </a>
            </td>
            <td>
                <a href="/ContactInformation/ContactInformationUpdate/@item.Id" style="color:white;">
                    <button type="button" class="btn btn-warning">Güncelle</button>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>