@model SwAppViewModel.Panel.HomeSliderVM

@using (Html.BeginForm("HomeSliderUpdate", "HomeSlider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form form-group">
        @Html.Hidden("ID")
        @Html.HiddenFor(x => x.Id, new { @class = "form-control" })<br/>
        @Html.Label("Başlık")
        @Html.TextAreaFor(x => x.HomeSliderTitle, new { @class = "ckeditor" }) <br/>
        @Html.Label("Detay")
        @Html.TextAreaFor(x => x.HomeSliderDetails, new { @class = "ckeditor" }) <br/>
        @Html.Hidden("Oluşturma Tarihi")
        @Html.HiddenFor(x => x.CreatedDate, new { @class = "form-control" }) <br/>
        @Html.Hidden("Durumu")
        @Html.HiddenFor(x => x.Status, new { @class = "form-control" }) <br/>
        @Html.Label("Resim Url")<br/>
        @Html.TextBox("formFile", "", new { type = "file" }) <br/><br/>
        @Html.HiddenFor(x => x.HomeSliderImageUrl)
        <button class="btn btn-success">Güncelle</button>
    </div>
}