@model List<SwAppViewModel.Panel.HomeSliderVM>
<a href="/HomeSlider/HomeSliderCreate" style="color:white;">
    <button type="button" class="btn btn-primary">Ekle</button>
</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Başlık</th>
        <th scope="col">Detay</th>
        <th scope="col">Resim Url</th>
        <th scope="col">Oluşturma Tarihi</th>
        <th scope="col">Güncelleme Tarihi</th>
        <th scope="col">Durum</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.HomeSliderTitle</td>
            <td>@item.HomeSliderDetails</td>
            <td>@item.HomeSliderImageUrl</td>
            <td>@item.CreatedDate</td>
            <td>@item.UpdatedDate</td>
            <td>@item.Status</td>
            <td>
                <a href="/HomeSlider/HomeSliderDelete/@item.Id" style="color:white;">
                    <button type="button" class="btn btn-danger">Durumunu Değiştir</button>
                </a>
            </td>
            <td>
                <a href="/HomeSlider/HomeSliderUpdate/@item.Id" style="color:white;">
                    <button type="button" class="btn btn-warning">Güncelle</button>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>