@model SwAppViewModel.MultiUI.AboutMultiModel
@{
    ViewData["Title"] = "About";
}
<div class="bg-blue">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="topbar-title">HAKKIMIZDA</h1>
                <h6 class="topbar-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="about-title">@Html.Raw(Model.AboutOurWhoUI.AboutOurWhoTitle)</h1><br/>
            <p class="about-text">
                @Html.Raw(Model.AboutOurWhoUI.AboutOurWhoDetails)
            </p>
        </div>
    </div>
</div>
<div class="container-fluid px-0 my-5 pb-5 ">
    <div class="bg-light py-5 carousel-block-about box-shadow-custom">
        <div class="container">
            <div class="row card-container-about px-0">
                <h1 class="header-carousel-block-about text-center text-lg-start">Neden Sorsware?</h1>
            </div>

            <div class="row mt-4 px-0 justify-content-between card-container-about">
                @Html.Partial("HomeWhySorswarePartial")
            </div>

        </div>
    </div>
</div>
<div class="container my-5 ">
    <div class="row">
        <div class="col-12 about-text-2">
            <h1 class="about-title">@Html.Raw(Model.AboutUI.AboutTitle)</h1>
            <p class="about-text text-black">
                @Html.Raw(Model.AboutUI.AboutDetails)
            </p>
        </div>
    </div>
    @Html.Partial("SubTablePartial")
</div>