@model SwAppViewModel.Panel.ContactInfoVM

@using (Html.BeginForm("ContactInfoUpdate", "ContactInfo", FormMethod.Post))
{
    <div class="form form-group">
        @Html.Hidden("ID")
        @Html.HiddenFor(x => x.Id, new { @class = "form-control" })<br/>
        @Html.Label("Yer Adı")
        @Html.TextBoxFor(x => x.OfficeLocationName, new { @class = "form-control" }) <br/>
        @Html.Label("Numara")
        @Html.TextBoxFor(x => x.OfficeLocationNumber, new { @class = "form-control" }) <br/>
        @Html.Hidden("Oluşturma Tarihi")
        @Html.HiddenFor(x => x.CreatedDate, new { @class = "form-control" }) <br/>
        @Html.Hidden("Durumu")
        @Html.HiddenFor(x => x.Status, new { @class = "form-control" }) <br/>
        <button class="btn btn-success">Güncelle</button>
    </div>
}